body {
    background: black;
    color: white;
    font-family: 'EB Garamond', serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.main{
    align-items: center;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    margin: 30px 50px 0px 30px;
    padding: 33px 51px 30px;
}

#title{
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -0.03em;
    line-height: 38px;    
    text-align: center;
}

input{
    box-sizing: border-box;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    color: white;    
    font-weight: 800;
    font-size: 38px;
    height: 73px;
    left: 217px;
    line-height: 24px;
    top: 101px;
    text-align: center;
    width: 117px;
}

button{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    font-weight: bold;
    height: 42px;
    left: 217px;
    top: 209px;
    margin-top: 25px;
    width: 117px;
}

.calculated-conversion-container{
    align-items: center;
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 24px 40px;
    margin: 0px 50px 20px 30px;
}

.conversion-results{
    background: #273549;
    border-radius: 21px;
    height: 100%;
    margin: 40px 25px 0px 25px;
    width: 100%;
}

h3{
    color: #CCC1FF;
    font-size: 20px;
    line-height: 20px;
}

p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 23px;
}